

.body {
    background-image: url("http://img.bollycurry.com/wallpapers/1024x768/81396-lata-mangeshkar-at-72nd-birthday-of-hridaymanth-mangeshkar-at-ra.jpg");
    margin-top: 10px;
    margin-left: 20px;
}

.title {
    color: red;
    font-family: Anton Lobster;
}

.container-fluid {
    padding-right: 30 px;
    padding-ledt: 30 px;
}

.border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    width: 600px;
}

.silver {
    background-color:white;

}

.image {
    background-color:white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
